/**
 * @name (CUSTOM) message container area changes
 * @description custom css
 * @author ahm
 * @version 6.9.0
 * @authorId 447739051534057473
 */


/*remove wave to say hi*/
.welcomeCTA_f5d1e2 {
    display: none;
}

/*remove green arrow next to server join msg*/
.iconContainer__235ca {
    display: none;
}

/*remove new server tutorial at the start of channel*/
.cardWrapper_aae012 {
    display: none;
}

div[class="text-sm-normal__95a78 subtitle_aae012"] {
    display: none;
}


/*make "report message" text white*/
.item_c1e9c4.labelContainer_c1e9c4.colorDanger_c1e9c4.colorDefault_c1e9c4[id="message-report"] {
    color: #B5BAC1 !important;
}

.item_c1e9c4.labelContainer_c1e9c4.colorDanger_c1e9c4.colorDefault_c1e9c4.focused_c1e9c4[id="message-report"] {
    background-color: #505CDC !important;
    color: #FFFFFF !important;
}

/*remove follow bar in bottom(check later)*/
div[class="wrapper__44df5"] {
    display: none;
}

/*remove NEW unread pill cap at the end of the grey new message indicator*/
.unreadPill__908e2.endCap__908e2 {
    display: none;
}

/*removes message divider bars that seperates messages sent at diff days*/
div[class="divider__5126c hasContent__5126c divider__908e2 hasContent__908e2"] {
    display: none;
}

div[id="---new-messages-bar"] > .content__908e2 {
    display: none;
}

div[class="divider__5126c hasContent__5126c divider__908e2 hasContent__908e2"] > .content__908e2 {
    display: none;
}

/*"gif" text fix (maybe not working?)*/
.altText__0f481 {
    margin: .25rem 0 -0.15rem;
    line-height: 17px;
}