/**
 * @name (CUSTOM) user profile changes
 * @description custom css
 * @author ahm
 * @version 6.9.0
 * @authorId 447739051534057473
 */

/*max height for user popouts */
.userPopoutOverlayBackground_c69a7b {
    max-height: 60vh;
}

/*remove view perms button next to the roles added by vencord permsviewer*/
div[aria-label="View Permissions"] {
    display: none;
}


/* remove the "message @(user)" under profiles*/
.footer__5be3e > .channelTextArea__74017 {
    display: none;
}

/* remove 3 dots on banner that shows view full profile/copy userid/etc*/
.wrapper_da5890.biteSize_da5890 {
    display: none;
}

/*remove background on user statuses(the "cloud" like thingy)*/
.statusBubbleOuter_af9888.biteSize_ab8609.statusBubbleShape_af9888::before {
    display: none;
}

.statusBubbleOuter_af9888.biteSize_ab8609.statusBubbleShape_af9888::after {
    display: none;
}

[class="statusBubbleOuter_af9888 biteSize_ab8609 statusBubbleSingleLineWithTextShape_af9888"]::before {
    display: none;
}

[class="statusBubbleOuter_af9888 biteSize_ab8609 statusBubbleSingleLineWithTextShape_af9888"]::after {
    display: none;
}

/*bunch of changes to profiles (top two removes profile banners)*/
.bannerSVGWrapper_b32cc2 > mask > rect {
    display: none;
    height: 0;
}

svg[class="mask__68edb"] {
    display: none;
}

[class="biteSizeOuter_c69a7b userPopoutOuter_c69a7b userProfileOuter_c69a7b userProfileOuterUnthemed_c69a7b theme-dark"] {
    width: 320px;
}

/*[class="avatar__75742 biteSize__75742 clickable__75742"] {
    top: 50px !important;
}*/

/*fuck profile effects*/
[class="profileEffects__01370"] {
    display: none;
}

/*remove user/server avatars from next to "mutual x" in user profiles*/
.mutuals__530ce > .section__530ce > .avatars_ef4a91 {
    display: none;
}

/*remove add note from profiles*/
button[class="button_fb7f94 icon_fb7f94 hover_fb7f94 visible_fb7f94 button__201d5 lookBlank__201d5 hoverColor_fb7f94"][aria-label="Add Note"] {
    display: none;
}

/*remove avatar decoration*/
.avatarDecoration__44b0c {
    display: none;
}

.avatarDecoration_c19a55 {
    display: none;
}

.avatarDecoration_c19a55 {
    display: none;
}

[class="avatarDecoration_c19a55"] {
    display: none;
}

/*make profile badges background transparent and 
remove some badges like nitro badge or hypesquad also make originally
known as badge invis*/
div[class="profileBadges_f89da9 containerWithContent_b64375 container__8061a"] {
    background-color: #00000000;
}

a[aria-label="Completed a Quest"] {
    display: none;
}

div[aria-label="User Badges"] > a[href="https://discord.com/settings/premium"] {
    display: none;
}

div[aria-label="User Badges"] {
    display: none;
}

img[src="https://cdn.discordapp.com/badge-icons/6de6d34650760ba5551a79732e98ed60.png"] {
    color: transparent;
    background-color: transparent;
}

/* remove add friend button on banner in user profiles */
button[class="button_fb7f94 icon_fb7f94 banner_fb7f94 button__201d5 lookFilled__201d5 bannerColor_fb7f94"][aria-label="Add Friend"] {
    display: none;
}

button[class="button_fb7f94 icon_fb7f94 banner_fb7f94 button__201d5 lookFilled__201d5 bannerColor_fb7f94"][aria-label="Mod View"] {
    display: none;
}

/*fix showallroles to have no collapse button*/
div[aria-label="Collapse Roles"] {
    display: none;
}