/**
 * @name (CUSTOM) server/channel/member list changes
 * @description custom css
 * @author ahm
 * @version 6.9.0
 * @authorId 447739051534057473
 */


/*removes guild(server) badges near name on top(check later)*/
div[class="guildIconV2Container__85d16"] {
    display: none;
}

/* remove new unreads at bottom and top of channel list(check later ?, fixed to be working but might cause issues with new mentions text at the same area)*/
div[class="container__7aaec bottom__7aaec"] {
    display: none;
}

div[class="container__7aaec top__7aaec"] {
    display: none;
}

/*remove the little white dot next to channels with unread msg*/
.unread__2ea32.unreadImportant__2ea32 {
    display: none;
}

/*change color of NEW bar under serverlist for mentions*/
.bar__3b95d.unreadMentionsBar_ef3116 {
    background-color: #505050FF;
}

/*REMOVE EVENTS*/
li[data-list-item-id="channels___upcoming-events-1162327527356903594"] {
    display: none;
}
/*li[class="containerDefault_c69b6d"] {
    display: none;
}*/ /*this removes all channels from the channel list not very useful tbh*/
div[style="height: 12px;"] {
    height: 0px;
}

div[class="sectionDivider__629e4"] {
    display: none;
    height: 0;
}

.containerDefault_c69b6d.wrapper__2ea32 {
    display: none;
}

.link__2ea32.basicChannelRowLink__2ea32 {
    display: none;
    height: 0px;
}

/* Removes "Support" question mark button */
a[href="https://support.discord.com"] {
    display: none;
}

/*removes blue mark as read bar on top*/
div[class="newMessagesBar__0f481 barBase__0f481"] {
    display: none;
}

/* (check later) removes "new" at the end of the unread bar on top of channe and the date in middlel, also changes color of it*/
span[class="unreadPill__908e2 endCap__908e2"] {
    display: none;
}

span[class="content__908e2"] {
    display: none;
}

div[id="---new-messages-bar"] {
    border-color: #666666FF;
}

/*remove white dot next to servers with unread messages*/
.pill_e5445c.wrapper__58105 {
    display: none;
}

.pill_e5445c.wrapper__58105 {
    display: none;
}

/*remove the "ACTIVITY" thing showing people's activities on top of server member list*/
h3[class="membersGroup_c8ffbb container__13cf1 text__13cf1"]:has(.headerContainer__095fe) {
    display: none;
}

h3[class="membersGroup_c8ffbb container__13cf1"]:has(.headerContainer__095fe) {
    display: none;
}

div[class="container__0f2e8 openOnHover__0f2e8"] {
    display: none;
}


/*remove server boost level at the top of channel list*/
div[data-list-item-id="channels___boosts-366342488870354944"] {
    display: none;
}

/*disable thread suggestion*/
.threadSuggestionBar__841c8 {
    display: none;
}


/* remove community server icon next to server name on top left*/
.guildIconV2Container__85d16 {
    display: none;
}

/*removes statuses under users*/
.text__19b6d {
    display: none;
}

.emoji.emoji_e463a5.customStatusEmoji__19b6d {
    display: none;
}

.subtext__0a06e {
    display: none;
}

.subText__91a9d {
    display: none;
}

.activityText__972a0 {
    display: none; /*dms*/
}

.subText__91a9d {
    display: none;
}

.subtext__0a06e {
    display: none;
}

.activityText__5d473 {
    display: none; /*server channel list*/
}

.activity__972a0.subtext__972a0 {
    display: none;
}

.subtext__0a06e {
    display: none;
}

.subText__20a53 {
    display: none;
}

/*removes discover button on bottom left*/
div[class="wrapperSimple_cc5dd2 wrapper_cc5dd2"]:has(svg > foreignObject > div[class="circleIconButton__5bc7e discoveryIcon_ef3116"]) {
    display: none;
}
/* removes hide members list button(check later)*/
div[aria-label="Hide Member List"] {
    display: none;
}
/*remove "new" tag from channels*/
[class="newChannel__599fa textBadge__2b1f5 base__2b1f5 eyebrow__2b1f5 baseShapeRound__2b1f5"] {
    display: none;
}

/* Removes "Support" question mark button from search popup */
.searchLearnMore__56fec {
    display: none;
}

/* Hides "Mark as Read" and icon in the "Unread messages" notification */
.barButtonAlt__0f481.barButtonBase__0f481 {
    display: none;
}

/* Hides the New Message indicator next to only folders */
.wrapper__48112 > .listItem__650eb > .pill_e5445c {
    display: none;
}

/*make it so "x new mention" on top/bottom of channel list is gray*/
.bar__7aaec.mentionsBar__7aaec {
    background-color: #505050FF;
}

/*remove invite to server on channels selected/hovered*/
[aria-label="Invite to Server"] > svg {
    display: none
}

/*remove role icons on the server member list(not elsewhere)*/
.membersGroup_c8ffbb.container_cc72c1 > span > span > img {
    display: none;
}

/*recolor mention badge under servers at right bottom*/
div[class="numberBadge__40d6f base__5ed84 eyebrow_c15ff6 baseShapeRound__2b1f5"] {
    background-color: #505050FF !important;
}

div[class="numberBadge__2b1f5 base__2b1f5 eyebrow__2b1f5 baseShapeRound__2b1f5"] {
    background-color: #505050FF !important;
}
