/**
 * @name (CUSTOM) nitro removal
 * @description custom css
 * @author ahm
 * @version 6.9.0
 * @authorId 447739051534057473
 */

/* Removes the nitro button at left-bottom */
.fixedBottomList-1yrBla {
    display: none;
}

/* removes nitro icon next to someone boosted this server msg(check later)*/
.icon__9f20a {
    display: none;
}

/* Removes the Big Nitro Button */
a[href="/store"] {
    display: none;
}


/*NITRO EMOJI LOCK REMOVE*/
.categoryItemLockIconContainer__0fa6d {
    display: none;
}
.categorySection_c656ac.categorySectionNitroLocked_c656ac {
    background-color: #00000000;
}
.lockedEmoji_d982c2.image__1859b {
    background-color: #00000000;
}
.emojiLockIconContainer_d982c2 {
    display: none;
    background-color: #00000000;
}
.nitroTopDividerContainer_b3fb5f {
    display: none;
}
.nitroBottomDivider_c656ac {
    display: none;
}
.wrapper__14245.header_c656ac.inactiveNitroHeader_c656ac {
    background-color: #00000000;
}
.header__14245.interactive__14245 {
    background-color: #00000000;
}
div[class="categorySection_c656ac categorySectionCollapsed_c656ac categorySectionNitroLocked_c656ac"] {
    background-color: #00000000;
}
div[class="categorySection_c656ac categorySectionCollapsed_c656ac categorySectionNitroLocked_c656ac categorySectionNitroDivider_c656ac"] {
    background-color: #00000000;
}
.upsellContainer_a3bc57 {
    display: none;
}
div[class="categorySection_c656ac categorySectionCollapsed_c656ac categorySectionNitroLocked_c656ac"] {
    background-color: #00000000;
}
.nitroBottomDivider_c656ac {
    display: none;
}
.categoryItemLockIconContainer__0fa6d {
    display: none;
}
.premiumIconWrapper_c3e427.clickable_c3e427 {
    display: none;
}

/*profile customization ad remover */
.containerWrapper_e18107 {
    display: none
}

[data-list-item-id*="__nitro"] {
    display: none;
}

[data-list-item-id*="__shop"] {
    display: none;
}

[aria-label="Send a gift"] {
    display: none;
}

/*remove the bar that shows a servers nitro level under its banner*/
[class="container_eff079 containerWithMargin_eff079"] {
    display: none;
}

[class="container_eff079"] {
    display: none;
}

/* Removes "Gift nitro" button from message bar */
button[aria-label="Send a gift"] {
    display: none;
}

/*removes some nitro promo*/
.channel__972a0:has([data-list-item-id$="___nitro"]), .channel__972a0:has([data-list-item-id$="___shop"]), /*Shop and nitro private channels*/
.containerWrapper_e18107, /*Userpopout nitro upsell*/
.premiumTab__581ea, /*Nitro Settings Tab*/
.buttons__74017 > button[aria-haspopup="dialog"], /*Gift Button*/
.premiumFeatureBorder__65c15, /*Premium settings feature upsell cards.*/
.container__8279f:has(.ctaButton__8279f) /*Shop advertisement*/ {
    display: none;
}

/*remove nitro badge next to users in user list*/
svg[class="premiumIcon__5d473 icon__5d473"] {
    display: none;
}

/*h*/ /*i have no idea why the only comment on this is "h" but im assuming its some nitro related thing so who cares*/
.premiumLabel_e681d1 > svg {
    display: none;
}
