/**
 * @name (CUSTOM) settings tab changes
 * @description custom css
 * @author ahm
 * @version 6.9.0
 * @authorId 447739051534057473
 */

/*remove icons next to tabs in discord settings, and hide the merch/hypesquad tab */
.item_b3f026.themed_b3f026::before {
    display: none
}

.item_b3f026.themed_b3f026::after {
    display: none
}

div[class="item_b3f026 themed_b3f026"][aria-label="Merch"] {
    display: none !important;
}

/*remove vencord donation ad in vencord settings tabs*/
[class="vc-settings-card vc-settings-donate cardPrimary__73069 card__73069"] {
    display: none;
}


/*removes nitro tab, merch tab and hypesquad tab in settings*/
.premiumTab__581ea.item_b3f026.themed_b3f026 {
    display: none;
}

div[aria-label="Merch"] {
    display: none;
}
