/**
 * @name (CUSTOM) top bar changes
 * @description custom css
 * @author ahm
 * @version 6.9.0
 * @authorId 447739051534057473
 */

/*removes some useless dm button*/
div[aria-label="Start Voice Call"] {
    display: none;
}

div[aria-label="Start Video Call"] {
    display: none;
}

div[aria-label="Show User Profile"] {
    display: none;
}

div[aria-label="Show User Profile (Unavailable)"] {
    display: none;
}


/*remove create neew group dm*/
div[aria-label="New Group DM"] {
    display: none;
}

.toolbar__9293f > .inviteToolbar__133bf {
    display: none;
}


/*remove magnyfiying glass at end of search bar*/
.iconContainer__4d295 {
    display: none;
}

.iconContainer_fea832 {
    display: none;
}

/* remove aka badge in dm*/
.akaBadge__27cd4.textBadge_f05120.base__5ed84 {
    display: none;
}

/*remove create dm button (check later) */
div[aria-label="Create DM"] {
    display: none;
}

/* recolors the pinned message unread badge to white*/
.iconBadge__9293f {
    background-color: #b5bac1
}

.iconBadge__9293f {
    background-color: #b5bac1
}